{% extends 'layout/web-base.html' %}

{% block main_content %}
<div id="bodyContent" class="d-flex align-items-center">
    <div class="row align-items-center">
        <div class="col-12 col-lg-8">
            <div class="p-2">
                <p class="fw-medium fs-3 maintextColor">سلام</p>
                <h1 class="fw-bolder display-3 maintextColor">مرکز محبین اهل بیت</h1>
                <p class="fw-medium fs-3 maintextColor">خوش آمدید</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 text-lg-center">
            
        </div>
    </div>
</div>
{% endblock %}